* {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header, footer{
    padding: 20px 20px;
    background-color: bisque;
}

img#logo{
    max-width: 10%;
}

a > h1#logoNome{
    display: inline;
    color: black;
    padding-left: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}

nav{
    width: 300px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}


/* CONTEÚDO PRINCIPAL / MAIN */
main{
    max-width: 85%;
    background-color: aqua;
}


/* RODAPÉ / FOOTER */
footer {
    margin-top: 20px;
    display: flex;
}

footer .titleFooter {
    font-weight: bold;
}

footer div#redesA a {
    display: block;
    text-decoration: underline;
}

footer > div > ul{
    padding-left: 20px;
}
footer > div > ul > li{
    list-style-type: none;
}