* {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header, footer{
    padding: 20px 20px;
    background-color: bisque;
}

img#logo{
    max-width: 10%;
}

a > h1#logoNome{
    display: inline;
    color: black;
    padding-left: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}

nav{
    width: 300px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

/*CONTEÚDOS HOME */
#home{
    background-image: url("img/banner_dog.jpg");
    background-size:cover;
    height: 600px;
    background-repeat: no-repeat;
}
/*
#container_home h1 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:right;
}
*/
/* CONTEÚDO PRINCIPAL / MAIN */

h2{
    text-align: center;
    max-width: 85%;
    padding: 2% 0;
}

/* SERVIÇOS */

main#servicos{
    display: flex;
    flex-wrap: wrap;
}
main#servicos > div{
    display: inline-block;
    height: 10rem;
    width: 200px;
    background-color: bisque;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#agende{
    text-align: center;
    padding: 1%;
}

div#agende > button#btnAgende{
    font-size: 1rem;
    padding: 1%;
    background-color: black;
    color: white;
}

/* RODAPÉ / FOOTER */
footer {
    display: flex;
}

footer .titleFooter {
    font-weight: bold;
}

footer div#redesA a {
    display: block;
    text-decoration: underline;
}

footer > div > ul{
    padding-left: 20px;
}
footer > div > ul > li{
    list-style-type: none;
}