* {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header, footer{
    padding: 20px;
    background-color: #fdc573;
    /*border-bottom: black 1px solid;*/
}

img#logo{
    max-width: 10%;
}

a > h1#logoNome{
    display: inline;
    color: black;
    padding-left: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}

nav{
    width: 300px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

/*CONTEÚDOS HOME */
#home{
    height: 600px;

    position: relative;
    overflow: hidden;
    background: white;
}

#home div{
    position: relative;
    z-index: 2;
}

#home:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;

    background-image: url("img/banner_dog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#container_home{
    text-align: center;
    max-width: 50%;
    float: right;
    margin-right: 4%;
    padding-top: 3%;
    font-size: 1.2rem;
    margin-top: 5%;
}

/* CONTEÚDO PRINCIPAL / MAIN */

main.main{
    max-width: 90%;
}

h2{
    text-align: center;
    max-width: 85%;
    padding: 2% 0;
}



/* SERVIÇOS */

main#servicos{
    display: flex;
    flex-wrap: wrap;
}
main#servicos > div{
    display: inline-block;
    height: 10rem;
    width: 200px;
    background-color: #FEF19F;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8%;
}

#agende{
    text-align: center;
    padding: 1%;
}

#btnAgende{
    font-size: 1rem;
    padding: 1%;
    margin: 0 1%;
    background-color: #fedc01;
    display: none;
}

/* RODAPÉ / FOOTER */
footer {
    display: flex;
}

footer .titleFooter {
    font-weight: bold;
}

footer div#redesA a {
    display: block;
    text-decoration: underline;
}

footer > div > ul{
    padding-left: 20px;
}
footer > div > ul > li{
    list-style-type: none;
}

/*Tela Cadastros*/
#lista{
    list-style-type: none;
}


/*PÁGINA CONTATO*/
#mapa {
    width: 48%;
    height: 70%;
    float: right;
    border: 0;
    margin-top: 2%;
}

/*FORMULÁRIO CONTATO*/
form.formContato {
    width: 50%;
    display: inline-block;
    margin-top: 2%;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #FEF19F;
}


.formContato div>.inputsForm {
    display: inline-block;
    width: 50%;
    margin: 2% auto;
    padding: 1%;
    font-size: 1rem;

}

.inputsForm input {
    padding: 1.5%;
    margin-bottom: 3%;
    width: 45%;
    margin-left: 3%;

}

.inputsForm>select,
.inputsForm>label,
.inputsForm label>textarea {
    padding: 1.5%;
    margin-bottom: 3%;
    margin-left: 3.5%;

}

.avisos {
    background-color: #fdc573;
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-bottom: 5%;
}

#avisoNome, #avisoEmail, #avisoTelefone, #avisoMsg, #aviso{
    display: none;
}

.conteudoForm{
    padding: 3%;
    margin-bottom: 3%;
}
.conteudoForm > legend{
    font-size: 1.15rem;
    color: #702353;
}

/*
#atendimento {
    margin-top: 2%;
}

#atendimento>p {
    text-align: right;
}
*/

#btnContato,
.btnEnviar {
    width: 100%;
    font-size: 1rem;
    padding: 1%;
    margin: 0 auto;
    background-color: #fdc573;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
}

/* LOGIN */
table#tablePerfil{
    border: 3px solid black;
    margin: 0 auto;
    max-width: 90%;
}

th, td{
    border: 1px solid black;
    padding: 5px 20px;
}

/* TELA CADASTRO*/
#mensagemDono{
    text-align: center;
    margin-bottom: 1.5%;
}

form.formCadastro{
    width: 40%;
    margin-top: 2%;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #FEF19F;
    
    
}

.formCadastro div > .inputCadastro{
    display: inline-block;
    width: 50%;
    margin: 2% auto;
    padding: 1%;
    font-size: 1rem;
    
}

.inputCadastro input {
    padding: 1.5%;
    margin-bottom: 3%;
    width: 45%;
    margin-left: 5%;
}
fieldset{
    padding: 5%;
}

#btn_cadastrar{
width: 100%;
padding: 1.5%;
display: inline-block;
margin-top: 2%;
background-color:#fdc573;
border: 1px solid black;
border-radius: 10px;
font-weight: bold;
font-size: 1rem;
}

#btn_Editar, #btn_salvar{
    width:55%;
    padding: 0.5%;
    background-color:#fdc573;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 2%;
    margin-left: 0.5%;
}
.botoesCadastro{
    display: flex;
    flex-direction: row;
}

#btn_cadastro{
    width:43%;
    padding: 0.5%;
    background-color:#fdc573;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 3%;
    margin-left: 0.5%;
}
#btn_cadastro:hover{
    background-color: #ffa51f;
}

#btn_cadastrar:hover{
    background-color: #ffa51f;
}
#btn_Editar:hover{
    background-color:#ffa51f;
}
#btn_salvar:hover{
    background-color: #ffa51f;
}
#btnContato:hover{
    background-color: #ffa51f;
}

